:root {
  --primary-color: #333;
}

html {
  font-size: 62.5%;
}

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.container {
  max-width: 1200px;
  margin: 10rem auto;
  padding: 2rem 2rem;
  background-color: aqua;
}

.accordion {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: var(--primary-color);
}

button {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-image: url(img/1.jpg);
  background-size: cover;

  background-color: aquamarine;
  /* flex: 1 1 1rem; */
  transition: all 0.4s;
  overflow: hidden;
}
button:nth-child(1) {
  background-image: url(img/1.jpg);
}
button:nth-child(2) {
  background-image: url(img/2.jpg);
}
button:nth-child(3) {
  background-image: url(img/3.jpg);
}
button:nth-child(4) {
  background-image: url(img/4.jpg);
}
button:nth-child(5) {
  background-image: url(img/5.jpg);
}
button:nth-child(6) {
  background-image: url(img/6.jpg);
}
button:focus {
  flex: 1 0 80%;

  flex-grow: 2;
  transition: all 0 ease-in-out;
  z-index: 100;
  outline: 3px solid blueviolet;
  /* border: none; */
}

/* .check {
  background-color: aqua;
  display: block;
  width: 10rem;
} */
/* input:focus + .check {
  outline: 3px solid blueviolet;
} */

@media (min-width: 600px) {
  .accordion {
    flex-direction: row;
    height: 40vh;
  }
}
