:root {
  --primary-color: #333;
}

html {
  font-size: 62.5%;
}

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem;
  overflow: hidden;
}

.accordion {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: var(--primary-color);
}

button {
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;

  background-size: cover;
  background-position: center;
  flex: 1 1;
  transition: all 0.8s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button:nth-child(1) {
  background-image: url(img/res1.png);
}
button:nth-child(2) {
  background-image: url(img/res2.png);
}
button:nth-child(3) {
  background-image: url(img/res3.png);
}
button:nth-child(4) {
  background-image: url(img/res4.png);
}
button:nth-child(5) {
  background-image: url(img/res5.png);
}
button:nth-child(6) {
  background-image: url(img/res6.png);
}
button:focus {
  flex: 0 0 35vh;
  z-index: 100;
}

@media (min-width: 600px) {
  .accordion {
    flex-direction: row;
    height: 40vh;
  }
  .container {
    margin: 10rem auto;
  }
  button:focus {
    flex: 1 0 40vw;
  }
}
